.home-container {
    padding: 24px;
    background: url('../../../public/images/background.jpg');
    background-size: cover;
    min-height: calc(100vh - 48px);

    h3 {
        text-align: center;
        margin-bottom: 24px;
        font-size: 48px;
        text-align: center;
    }

    .home-btn-container {
        position: absolute;
        top: 70%;
        left: 50%;
    }
}
